@mixin font-face($font-family, $src, $font-style, $font-weight) {
    @font-face{
        font-family: $font-family;
        src: url($src) format("woff2");
        font-style: $font-style;
        font-weight: $font-weight; 
    }
}